<div class="about-author d-flex p-4 bg-light">
    <div class="bio mr-5">
        <img src="asdsad" alt="Image placeholder" class="img-fluid mb-4">
    </div>
    <div class="desc">
        <h3>asdsadsad</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis ullam id incidunt beatae reiciendis? Nobis
            deleniti esse provident corrupti mollitia ut at vel molestias eum.</p>
    </div>
</div>
